<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{doctor.name}} | {{doctor.type}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">`

    {{>styles}}
    <link rel="stylesheet" type="text/css" href="/css/doctor-rating.css">
</head>

<body>
    {{>header}}    
    <div class="wrapper">
        <div class="profile-card js-profile-card">
            <div class="profile-card__img">
                <img src="/medias/{{doctor.medias.0.media}}" alt="profile card">
            </div>

            <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__name">{{doctor.type}} {{doctor.name}}</div>
                <div class="profile-card__txt">
                    {{doctor.notes}}
                </div>
                <div class="profile-card-loc">
                    <span class="profile-card-loc__txt">
                        {{doctor.city}}
                    </span>
                </div>
                <div class="row text-center">
                    <h1>Rating</h1>
                    <p>
                        {{doctor.upvotes}}<a href="/upvote/{{doctor.id}}"><i class="fas fa-thumbs-up" style="color: #000; font-size: 1.5em;"></i></a>
                        {{doctor.downvotes}}<a href="/downvote/{{doctor.id}}"><i class="fas fa-thumbs-down" style="color: #000; font-size: 1.5em;"></i>
                    </p>
                </div>
                <div class="row">
                    <h1>Workhours</h1>
                    {{#if doctor.monday.active}}
                    <div class="col-sm-3">
                            <p>Monday</p>
                            {{#each doctor.monday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}
                    
                    {{#if doctor.tuesday.active}}
                    <div class="col-sm-3">
                            <p>Tuesday</p>
                            {{#each doctor.tuesday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}
                    
                    {{#if doctor.wednesday.active}}
                    <div class="col-sm-3">
                            <p>Wednesday</p>
                            {{#each doctor.wednesday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}
                    
                    {{#if doctor.thursday.active}}
                    <div class="col-sm-3">
                            <p>Thursday</p>
                            {{#each doctor.thursday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}
                </div>
                <div class="row">
                    {{#if doctor.friday.active}}
                    <div class="col-sm-3">
                            <p>Friday</p>
                            {{#each doctor.friday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}
                    
                    {{#if doctor.saturday.active}}
                    <div class="col-sm-3">
                            <p>Saturday</p>
                            {{#each doctor.saturday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}

                    {{#if doctor.sunday.active}}
                    <div class="col-sm-3">
                            <p>Sunday</p>
                            {{#each doctor.sunday.hours}}
                                <p>{{start}} - {{end}}</p>
                            {{/each}}
                    </div>
                    {{/if}}
                </div>
                <div class="row text-center">
                    <h1>Appointments</h1>
                    <a href="/appointments/{{doctor.id}}">Book an appointment with this doctor</a>
                </div>
                <br><br><br>
                <div class="row text-center">
                    <label for="comment">Leave a comment as {{user.firstName}} {{user.lastName}}</label>
                    <input type="text" class="form-control" id="comment" aria-describedby="username">
				    <button type="submit" class="btn btn-primary btn-block" id="commentBtn">Comment</button>
                    <script>
                        const comment = document.querySelector('#comment');
                        const $submit = document.querySelector('#commentBtn');

                        $submit.addEventListener('click', (e) => {
                                e.preventDefault();//do not refresh page

                                const data = {
                                    comment: comment.value,
                                };

                                commentRequest(data);
                            });

                        function commentRequest(data) {
                            const http = new XMLHttpRequest();
                            const url = '/doctors/comment/{{doctor.id}}';

                            http.open('PATCH', url, true);
                            http.setRequestHeader('Content-type', 'application/json');
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 200) {
                                    location.reload();
                                }
                            }
                            http.send(JSON.stringify(data));
                        }

                    </script>

                    {{#each doctor.comments}}
                    <p class="text-left">{{name}}: {{comment}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
{{>scripts}}
</html>