<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{>styles}}
  <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<style>
		body {
			margin:0;
			padding:0;
			overflow: hidden;
		}
		canvas {
			margin:auto;
		}
	</style>
</head>
<body>
	{{>header}}

    <div class="products">
		<div class="container text-center">
			<div class="row">

				<div class="col-sm-3">
					<h1><a href="#filters" data-toggle="collapse">Филтри</a></h1>

		      	<div id="filters" class="collapse">
					<h4>Молим Ви да ни извините, функцията предстои да бъде добавена!</h4>
					{{!-- <h4>Нещо</h4>
					<p>може</p>
					<p>би</p>
					<p>радио</p>
					<p>бутони</p> --}}
				</div>

				</div>

				<div class="col-sm-9">
					<div class="row">
						
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th class="text-center">Photo</th>
											<th class="text-center">Name</th>
											<th class="text-center">Type</th>
											<th class="text-center">City</th>
											<th class="text-center"><i class="fas fa-thumbs-up" style="color: #000; font-size: 1.5em;"></i><i class="fas fa-thumbs-down" style="color: #000; font-size: 1.5em;"></i></th>
										</tr>
									</thead>
									<tbody>
										{{#each doctors}}
										<tr>
											<td><img id="thumbnail" src="/medias/{{medias.0.media}}" alt="{{medias.0.alt}}" title="{{medias.0.alt}}" class='cropmedia thumbnail' width="150"></td>
											<td><a href="/doctors/{{id}}">{{name}}</a></td>
											<td>{{type}}</td>
											<td>{{city}}</td>
											<td>{{upvotes}}/{{downvotes}}</td>
										</tr>
										{{else}}
										<p class="empty">No doctors found</p>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>

	{{>footer}}

</body>

{{>scripts}}
<!-- Page level plugins -->
<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    $(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });
</script>
<style>
[data-href] {
    cursor: pointer;
}
</style>
</html>
