<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>


	{{>admin_styles}}
	<link  href="/node_modules/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">

	<style>
		body {
			margin:0;
			padding:0;
			overflow: hidden;
		}
		canvas {
			margin:auto;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		{{>admin_navigation}}

		<div class="container-fluid scrollable">
			<br>
			{{#if doctor}}
				<h4>Doctor page</h4>
			{{else}}
				<h4>New doctor</h4>
			{{/if}}	
			<p id="doctor_id">{{doctor.id}}</p>
			<form id="doctor-form">
				<br>
				<div class="form-check">
					{{#if doctor.published}}
						<input class="form-check-input" type="checkbox" checked="checked" id="published">
					{{else}}
						<input class="form-check-input" type="checkbox" id="published">
					{{/if}}
					<label for="published">Published</label>
				</div>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".media-modal">Upload images</button>
				<div class="modal fade media-modal" aria-hidden="true" style="min-width: 80%;">
					<div class="modal-dialog modal-lg"  style="min-width: 80%;">
						<div class="modal-content">
							{{>admin_media}}
						</div>
					</div>
				</div>
				<div id='image-container' class="row">
					{{#each doctor.medias}}
						<div class="col-sm-6 col-md-3 col-lg-2">
							<button type="submit" class="btn btn-danger remove_image"><i class="fas fa-minus-circle"></i></button>
							<img id='{{media}}' src="/medias/{{media}}" class="cropmedia">
						</div>
					{{/each}}
				</div>
				<br>
				<label for="name">Name of Your doctor</label>
				<input type="text" class="form-control" id="name" value="{{doctor.name}}">
				<br>
				<label for="ribbon">Ribbon (example: 'New' or 'Sale')</label>
				<input type="text" class="col-sm-2 form-control" id="ribbon" value="{{doctor.ribbon}}">
				<br>
				<label for="price">Price</label>
				<input type="number" class="col-sm-2 form-control" id="price" value="{{doctor.price}}">
				<br>
				<label for="description">Description - Most important information, up to 280 characters</label>
				<textarea id="description">{{{doctor.description}}}</textarea>			
				<hr>			
				<br>
				<p id="response" style="color: red"></p>
				<br>
				{{#if doctor}}
					<button type="submit" class="btn btn-danger" id="del"><i class="fas fa-trash-alt"></i></button>
					<button type="submit" class="btn btn-primary" id="save_and_duplicate">Save & Duplicate</button>
				{{else}}
					<button type="submit" class="btn btn-danger" id="del" disabled='true'><i class="fas fa-trash-alt"></i></button>
					<button type="submit" class="btn btn-primary" id="save_and_duplicate" disabled='true'>Save & Duplicate</button>
				{{/if}}
				<button type="submit" class="btn btn-primary" id="close">Close</button>
				<button type="submit" class="btn btn-primary" id="save">Save</button>
			</form>
		</div>
	</div>

	
</body>
{{>admin_scripts}}
<script src="/node_modules/ckeditor/ckeditor.js"></script>
<script src="/node_modules/bootstrap-select/js/bootstrap-select.js"></script>
<script src="/js/admin/admin_doctor.js"></script>

</html>
