<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{>admin_styles}}

	<style>
		body {
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		canvas {
			margin: auto;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		{{>admin_navigation}}

		<div class="container-fluid scrollable">
			<br>
			{{#if user}}
			<h4>User</h4>
			{{else}}
			<h4>New user</h4>
			{{/if}}
			<p id="user_id">{{user.id}}</p>
			<form id="user-form">
				<br>
				<label>Rating</label>
				<p>
					{{user.upvotes}}<a href="/users/upvote/{{user.id}}"><i class="fas fa-thumbs-up"
							style="color: #000; font-size: 1.5em;"></i></a>
					{{user.downvotes}}<a href="/users/downvote/{{user.id}}"><i class="fas fa-thumbs-down"
							style="color: #000; font-size: 1.5em;"></i>
				</p>
				<br>
				<label>First name: {{user.firstname}}</label>
				<br>
				<label>Last name: {{user.lastName}}</label>
				<br>
				<label>E-mail: {{user.email}}</label>
				<br>
				<label for="ambulatory_list">Ambulatory list</label>
				<textarea id="ambulatory_list">{{{user.ambulatory_list}}}</textarea> <br>
				<br>
				<p id="response" style="color: red"></p>
				<br>
				<button type="submit" class="btn btn-primary" id="close">Close</button>
				<button type="submit" class="btn btn-primary" id="save">Save</button>
			</form>
		</div>
	</div>


</body>
{{>admin_scripts}}
<script src="/node_modules/ckeditor/ckeditor.js"></script>
<script src="/js/admin/admin_user.js"></script>

</html>