<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{>admin_styles}}

	<link href="/node_modules/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet">
  <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


	<style>
		body {
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		canvas {
			margin: auto;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		{{>admin_navigation}}

		<div class="container-fluid scrollable">
			<br>
			{{#if doctor}}
			<h4>Doctor page</h4>
			{{else}}
			<h4>New doctor</h4>
			{{/if}}
			<p id="doctor_id">{{doctor.id}}</p>
			<form id="doctor-form">

				<br>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".media-modal">Upload
					images</button>
				<div class="modal fade media-modal" aria-hidden="true" style="min-width: 80%;">
					<div class="modal-dialog modal-lg" style="min-width: 80%;">
						<div class="modal-content">
							{{>admin_media}}
						</div>
					</div>
				</div>
				<div id='image-container' class="row">
					{{#each doctor.medias}}
					<div class="col-sm-6 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<img id='{{media}}' src="/medias/{{media}}" class="cropmedia">
					</div>
					{{/each}}
				</div>

				<br>
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" value="{{doctor.name}}">

				<br>
				<label for="type">Type</label>
				<input type="text" class="form-control" id="type" value="{{doctor.type}}">

				<br>
				<label for="city">City</label>
				<input type="text" class="form-control" id="city" value="{{doctor.city}}">
				<br>
				<label for="notes">Notes</label>
				<input type="text" class="form-control" id="notes" value="{{doctor.notes}}">

				<hr>
				{{!-- Moday --}}
				<div class="form-check">
					{{#if doctor.monday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="monday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="monday_active">
					{{/if}}
					<label for="monday_active">Monday</label>
				</div>
				<div id='monday_hours'>
					{{#each doctor.monday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addMondayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addMondayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				{{!-- Tuesday --}}
				<div class="form-check">
					{{#if doctor.tuesday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="tuesday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="tuesday_active">
					{{/if}}
					<label for="tuesday_active">Tuesday</label>
				</div>
				<div id='tuesday_hours'>
					{{#each doctor.tuesday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addTuesdayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addTuesdayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				{{!-- Wednesday --}}
				<div class="form-check">
					{{#if doctor.wednesday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="wednesday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="wednesday_active">
					{{/if}}
					<label for="wednesday_active">Wednesday</label>
				</div>
				<div id='wednesday_hours'>
					{{#each doctor.wednesday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addWednesdayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addWednesdayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				{{!-- Thursday --}}
				<div class="form-check">
					{{#if doctor.thursday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="thursday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="thursday_active">
					{{/if}}
					<label for="thursday_active">Thursday</label>
				</div>
				<div id='thursday_hours'>
					{{#each doctor.thursday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addThursdayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addThursdayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				{{!-- Friday --}}
				<div class="form-check">
					{{#if doctor.friday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="friday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="friday_active">
					{{/if}}
					<label for="friday_active">Friday</label>
				</div>
				<div id='friday_hours'>
					{{#each doctor.friday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addFridayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addFridayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				{{!-- Saturday --}}
				<div class="form-check">
					{{#if doctor.saturday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="saturday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="saturday_active">
					{{/if}}
					<label for="saturday_active">Saturday</label>
				</div>
				<div id='saturday_hours'>
					{{#each doctor.saturday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addSaturdayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addSaturdayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				{{!-- Sunday --}}
				<div class="form-check">
					{{#if doctor.sunday.active}}
					<input class="form-check-input" type="checkbox" checked="checked" id="sunday_active">
					{{else}}
					<input class="form-check-input" type="checkbox" id="sunday_active">
					{{/if}}
					<label for="sunday_active">Sunday</label>
				</div>
				<div id='sunday_hours'>
					{{#each doctor.sunday.hours}}
					<div class="holder">
						<br>
						<button type="submit" class="btn btn-danger remove_image"><i
								class="fas fa-minus-circle"></i></button>
						<label>Booking hours</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input id="start" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{start}}">
							<input id="end" type="text" class="col-sm-2 form-control timepicker"
								aria-describedby="clock-icon" value="{{end}}">
							<div class="input-group-append input-group-addon">
								<span class="input-group-text" id="clock-icon"><i class="far fa-clock"></i></span>
							</div>
						</div>
						<br>
					</div>
					{{/each}}
				</div>
				<br>
				<label class="col-xs-5 col-sm-4 col-md-3 col-lg-2" for="addSundayHours">Add booking hours</label>
				<button type="submit" class="btn btn-primary" id="addSundayHours"><i
						class="fas fa-plus-circle"></i></button>
				<hr>
				<br>
				<p id="response" style="color: red"></p>
				<br>
				{{#if doctor}}
				<button type="submit" class="btn btn-danger" id="del"><i class="fas fa-trash-alt"></i></button>
				{{else}}
				<button type="submit" class="btn btn-danger" id="del" disabled='true'><i
						class="fas fa-trash-alt"></i></button>
				{{/if}}
				<button type="submit" class="btn btn-primary" id="close">Close</button>
				<button type="submit" class="btn btn-primary" id="save">Save</button>
			</form>
			<br>
			<br>
			<h2>My appointments</h2>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Patient</th>
								<th>Date</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							{{#each appointments}}
							<tr>
								<td><a href="admin-user?id={{email}}">{{email}}</a></td>
								<td>{{date}}</td>
								<td>{{start}} - {{end}}</td>
							</tr>
							{{else}}
							<p class="empty">Currently you have no doctors</p>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


</body>
{{>admin_scripts}}
<script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/js/admin/admin_doctor.js"></script>
<!-- Page level plugins -->
<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    $(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });
</script>
<style>
[data-href] {
    cursor: pointer;
}
</style>

</html>